/*
Footer Section style
=====================*/
nav.navbar.bootsnav.footer-menu
    background-color: transparent;
    border-bottom: 0px;

nav.navbar.bootsnav.footer-menu ul li a
    color:#b5b5c8;

nav.navbar.bootsnav.footer-menu ul li a:hover
    color:#fff;

.divider
    width:100%;
    height: 1px;
    background-color: #434769;
    display: inline-block;

.main_footer
    overflow: hidden;


.main_footer i 
    padding: 0px 5px;
    color: #ff0000;

.bg-black {
    background-color: #353854;
}