/*heading title all area*/
.head_title{
    padding-bottom: 7.143rem;
    overflow: hidden;
}
.head_title h2{
    font-weight: 700;
    font-size:2.250rem;
    color:#ff5748;
}
.head_title h5{
    font-weight: 400;
    font-size:1.125rem;
    color:#999999;
}
